/* Partial  font family */

@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

/* variable font family */
$font-fam-h1: "Acme";
$font-fam-h2: "Space Grotesk";
$font-fam-p: "Rajdhani";


/* variable font size */
$font-size-h1: 4em;
$font-size-h2: 2.5em;
$font-size-p: 1.2em;
